:root {
  font-family: "Neuzeit Grotesk", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */
  /* color: #373737; */
  /* background-color: hsl(0, 0, 40); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}  */

:root {
  --color-1: #24E6A8;
  --color-2: #08AEEA;
  /* --color-1: #9c6640;
  --color-2: #802372; */

  --text-color: #474747;
  --anti-text-color: hsl(0, 0%, 95%);
}

[data-lightdark='dark'] {

  --text-color: hsl(0, 0%, 95%);
  --anti-text-color:hsl(229, 19%, 17%); 
}

[data-theme='orange-red'] {
  --color-1: #f15353;
  --color-2: #b92d63;
}

[data-theme='purple'] {
  --color-1: #b53be6;
  --color-2: #6b53f1;
}

[data-theme='pale-blue'] {
  --color-1: #2d9af3;
  --color-2: #33438d;
}